*.pyc
*.pyd
*.pklz
*checkpoint*

#*.csv
tmp/*
tmp
env.py

.DS_Store

build/*
*.so
Profile.prof
*.c

sphinx/_build/*
sphinx/_build/html/*
sphinx/_templates/*
sphinx/_static/*

cover/
.coverage
